body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
	margin:0px;
	padding:0px;
}

img{
    width: 100%;
}

.teksrekom{
    font-family: "Poppins";
    font-weight: 800;
    font-size: 35px;
    color: black;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.7;
    font-family: "Poppins", serif;
  }
  
  li {
    float: left;
  }

  .li-r{
    float: right;
  }

  .body{
      font-family: "Poppins", serif;
  }

  .column {
    float: left;
    width: 15%;
    padding-right: 30px;
	padding-left:30px;
    height: 320px;
    border-style: none;
    border-width: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    font-family: "Poppins", serif;
  }

  .judul{
      font-family: "Poppins", serif;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
  }

  .genre{
    font-family: "Poppins", serif;
    font-weight:lighter;
    font-size: 15px;
    text-align: center;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color:red ;
  }

  .navleft{
    float: left;
}

.navleft a{
    padding-top: 35px;
}

.navright{
    float:right;
    margin-top: 25px;
    margin-right: 15px;
}

.btn{
    display: inline-block;
    background: red;
    color: white;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}

.btn:hover{
    opacity: 0.9;
    color: black;
}

.btn-rounded{
    border-radius: 5px;
}

.search-bar{ 
  margin-right: 80px;
position:sticky;
width: 80%;
max-width: 250px;
background: rgba(61, 35, 35, 0.2);
display: flex;
align-items: center;
border-radius: 50px;
padding: 8px 30px;
backdrop-filter: blur(4x) saturate(180%);
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0px 5px;
  font-size: 15px;
  color: #000000;
}

.search-bar button img{
  width: 20px;
}

.search-bar button{
  
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #58629b;
  cursor: pointer;
}